<%= form_for(@proposals) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.text_area :description, placeholder: "Proposal Title..." %>
    <%= f.text_area :description, placeholder: "Describe the project or job..." %>
  </div>
  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>