<!DOCTYPE html>
<html>
<head>
  <title>Coderconnection</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <div class="masthead container-narrow">
		<ul class="nav nav-pills pull-right">
			<form class="navbar-search pull-left">
			<input type="text" class="search-query" placeholder="Find people, projects or skills">
			</form>
			<li><a href="#">Fernando De Pombo</a></li>
	    </ul> 
	    <h1 class="muted">Berkeley Coder Connection</h1>
	    <hr>
	</div>

    <div class="container">
      <%= yield %>
    </div>

</body>
</html>
